@charset "UTF-8";
@font-face {
  font-family: "NikeFont";
  src: url("../Nike-Font/Futura Condensed Extra Bold.otf");
}
#header {
  background-color: #292929;
}

#productos-title {
  color: rgb(70, 180, 169);
  padding: 20px;
}

.img-banner {
  width: 100%;
  margin-bottom: 30px;
  height: 600px;
}

.procesadores {
  font-size: 3rem;
  font-weight: 900;
  color: #000;
}
@media (max-width: 480px) {
  .procesadores {
    font-size: 2rem;
  }
}

.futuro {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 8px;
  color: #111;
}
@media (max-width: 480px) {
  .futuro {
    font-size: 3rem;
  }
}

.tarjeta-cpu {
  margin: 10px 0 0 0;
  max-width: 700px;
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .tarjeta-cpu {
    width: 100%;
    margin: 10px 0 0 0;
  }
}
.tarjeta-cpu img {
  margin-bottom: 30px;
  width: 100%;
  max-height: 490px;
}

#card-tamaño {
  width: 18rem;
  height: 25rem;
}

#h2 {
  font-size: 1.5rem;
}

#imagen-tarjeta {
  width: 16rem;
  height: 16rem;
  align-self: center;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #card-animation:hover {
    transform: scale(1.25);
    transition: 1s;
  }
}
@media (min-width: 1200px) {
  #card-animation:hover {
    transform: scale(1.25);
    transition: 1s;
  }
  #card-animation:hover {
    transform: scale(1.25);
    transition: 1s;
  }
}
#formulario {
  max-width: 600px;
}

#parte1 {
  background-color: #292929;
}

#parte2 {
  background-color: black;
}

#sitelink {
  font-size: 35px;
  color: #f44336;
}

#sitelink:hover {
  color: #e65100;
}

#title {
  color: white;
  position: relative;
  top: 0px;
  font-size: 14.1px;
}

#detail {
  color: #aaa7a7;
  font-size: 16px;
}

#txt1, #txt2, #txt3, #txt4, #txt5 {
  color: white;
  font-size: 20px;
}

.container-fluid {
  width: 100%;
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
}

.link:hover, .link1:hover {
  color: #e65100;
}

.text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px;
}

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px;
}

#email {
  color: white;
  position: relative;
  top: -20px;
}

.btn, .btn-negro {
  position: relative;
  top: -10px;
}

#txt5 {
  position: relative;
  top: 0px;
}

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.fa-facebook-square:hover {
  color: #3B579D;
}

.fa-linkedin:hover {
  color: #007BB6;
}

.fa-twitter-square:hover {
  color: #2CAAE1;
}

#txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7;
}

.material-icons {
  position: relative;
  top: 3px;
}

.btn, .btn-negro {
  border: rgb(46, 43, 226) 2px solid;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgb(43, 52, 226);
  color: white;
  cursor: pointer;
  padding: 8px 10px;
}
.btn :hover, .btn-negro :hover {
  background-color: white;
  color: rgb(156, 43, 226);
}

.btn-negro {
  border: #111;
  background-color: #111;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 20px;
  margin: 6px 6px 0 0;
  border-radius: 20px;
}
.btn-negro:hover {
  background-color: #111;
  opacity: 0.6;
}

.hero {
  height: 40vh;
  background: #000 url(../img/celulares5.jpg) center/cover no-repeat fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero__text {
  text-align: center;
  color: white;
  background-color: rgb(70, 180, 169);
  border-radius: 20px;
  padding: 10px;
}
.hero__text p {
  margin-bottom: 0;
}

.fo_contacto {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.hero-cpu {
  height: 40vh;
  background: #000 url(../img/Microprocesador.JPG) center/cover no-repeat fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-motherboard {
  height: 40vh;
  background: #000 url(../img/motherboard.jpg) center/cover no-repeat fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
