* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  background-color: #712cf9;
} 

#titulo_h2 {
  color: rgb(70, 180, 169);
  margin-top: 20px;
}

#articulo {
  border-top: 3px dotted;
}

.titulo_h3 {
  margin-top: 10px;
  padding-top: 5px;
}

#div_img:hover{
  transform: scale(1.25);
  transition: 1s;
}

#div_vid:hover{
  transform: scale(1.25);
  transition: 1s;
}
.section_img {
  width: 60%;
  margin-top: 10px;
}

footer {
  background-color: rgb(255, 223, 80);
}

.footer-nav li{
  display: inline;
  padding: 0px 40px;
}

.footer-nav a{
  color: black;
  text-decoration: none;
}

#productos-title {
  color: rgb(70, 180, 169);
  padding: 20px;
}
#imagen-tarjeta {
  width: 16rem;
  height: 16rem;
  align-self: center;
}
#card-tamaño{
  width: 18rem;
  height: 25rem;
  
}

/* ------------ Botones -------------- */

.btn {
  border: rgb(46, 43, 226) 2px solid;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgb(43, 52, 226);
  color: white;

  padding: 8px 10px;
}

.btn:hover {
  background-color: white;
  color: rgb(156, 43, 226);
}
/* ------------ HERO CELULARES -------------- */
.hero {
  height: 40vh;

  background: #000 url(../img/celulares5.jpg) center / cover no-repeat fixed;

  display: flex;
  /* EJE X - Principal */
  justify-content: flex-end;
  /* EJE y - Secundario */
  align-items: flex-start;
}

.hero__text {
  text-align: center;
  color: white;
  background-color: rgb(70, 180, 169);

  border-radius: 20px;

  padding: 10px;
}
/* ------------ HERO CPU -------------- */
.hero-cpu {
  height: 40vh;

  background: #000 url(../img/Microprocesador.webp) center / cover no-repeat
    fixed;

  display: flex;

  justify-content: flex-end;

  align-items: flex-start;
}
/* ------------ HERO MOTHERBOARD -------------- */
.hero-motherboard {
  height: 40vh;

  background: #000 url(../img/motherboard.jpg) center / cover no-repeat fixed;

  display: flex;

  justify-content: flex-end;

  align-items: flex-start;
}
/* ------------ Formulario de contacto -------------- */
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(70, 180, 169);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(70, 180, 169);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

.button-formulario {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(70, 180, 169);
  border-color: rgb(70, 180, 169);
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

.span-formulario {
  color: rgb(70, 180, 169);
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.h2-formulario {
  font-size: 2rem;
  text-align: letf;
  padding-bottom: 20px;
  color: rgb(70, 180, 169);
}

.h3-formulario {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.p-formulario {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

@media (min-width: 769px) and (max-width: 1200px) {
  
  .titulo_h2 {
    font-size: 2rem;
  }
  
  #card-animation:hover{
    transform: scale(1.25);
    transition: 1s;
  }
}
@media (min-width: 1200px) {
  
  .titulo_h2 {
    font-size: 2rem;
  }
  
  #card-animation:hover{
    transform: scale(1.25);
    transition: 1s;
  }h1 {
    font-size: 3rem;
  }
  .titulo_h2 {
    font-size: 2rem;
  }
  
  #card-animation:hover{
    transform: scale(1.25);
    transition: 1s;
  }
} 
