@import 'base/variables';
@import 'base/mixin';
@import 'partials/card';
@import 'partials/footer';
@import 'partials/buttons';
@import 'partials/heroCelulares';
@import 'partials/heroCpu';
@import 'partials/heroMotherboard';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* ------------ Index -------------- */

  #header {
    background-color: $color-secundario;
  }
  
  #titulo_h1 {
    color: $color-primario;
    margin-top: 20px;
  }
  
  #articulo {
    border-top: 3px dotted;
  }
  
  #div_img:hover {
    transform: scale(1.25);
    transition: 1s;
  }
  
  #div_vid:hover {
    transform: scale(1.25);
    transition: 1s;
  }
  
  .section_img {
    width: 60%;
    margin-top: 10px;
  }

  #productos-title {
    color: $color-primario;
    padding: 20px;
  }
  
  #imagen-tarjeta {
    width: 16rem;
    height: 16rem;
    align-self: center;
  }
  
  #formulario {
    max-width: 600px;
  }
 