#card-tamaño {
    width: 18rem;
    height: 25rem;
  }
#h2{
    font-size: 1.5rem;
}
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .titulo_h2 {
      font-size: 2rem;
    }
    #card-animation:hover {
      transform: scale(1.25);
      transition: 1s;
    }
  }
  
  @media (min-width: 1200px) {
    #card-animation:hover {
      transform: scale(1.25);
      transition: 1s;
    }
    h1 {
      font-size: 3rem;
    }
    .titulo_h2 {
      font-size: 2rem;
    }
    #card-animation:hover {
      transform: scale(1.25);
      transition: 1s;
    }
  }