
footer {
    background-color: rgb(255, 223, 80);
  }
  .footer-nav li {
    display: inline;
    padding: 0px 40px;
    a{
        text-decoration: none;
    }
  }  

  .fo_contacto {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  .facebook{
    color: map-get($redes-sociales , facebook );
  }
  .instagram {
    color: map-get($redes-sociales , Instagram );
  }
  .Twitter {
    color: map-get($redes-sociales , Twitter );
  }