.hero {
    height: 40vh;
    background: #000 url(../img/celulares5.jpg) center / cover no-repeat fixed;
    @include flexbox(flex-end, flex-start);
  }
  
  .hero__text {
    text-align: center;
    color: white;
    background-color: rgb(70, 180, 169);
    border-radius: 20px;
    padding: 10px;
    p{
      margin-bottom: 0;
    }
  }
  
  .fo_contacto {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }