
.hero-cpu {
    height: 40vh;
    background: #000 url(../img/Microprocesador.webp) center / cover no-repeat
      fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }