$color-primario: rgb(70, 180, 169);

$color-secundario:#292929;

$color-titulos: #111;

$color-claro: #fff;

@font-face {
    font-family: 'NikeFont';
    src: url('../Nike-Font/Futura\ Condensed\ Extra\ Bold.otf');
}

$redes-sociales: (
    facebook: #3B579D,
    linkedin: #007BB6,
    Twitter: #2CAAE1
);

